@media screen and (min-width: 320px) {
  .product {
    width: 75%;
    .image-container {
      position: relative;
      height: 180px;
      background-color: white;
      img {
        height: 180px;
        width: 100%;
        display: block;
        object-fit: cover;
      }
      .tag {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(230, 194, 98);
        font-size: 14px;
      }
    }
    .title-price-container {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        color: white;
        font-size: 18px;
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgb(186, 255, 236);
      }
    }
    .ratings-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        .rating {
          margin-left: 7px;
          color: white;
        }
        .votes {
          margin-left: 3px;
          color: lightgray;
        }
      }
      .right {
        color: rgb(188, 66, 66);
      }
    }
  }
}

@media screen and (min-width: 641px) {
  .product {
    width: 100%;
  }
}
